div(align="center")
  h2 Create a New Job
  table
    tr
      td(align="right")
        label(for='project_id') Project:
      td
        select(ng-model='form.project_id', ng-options='project.project_id as project.taxon_display_name for project in projects ', name='project_id')
    tr
      td(align="right")
        label(for='in_fasta') Fasta Input:
      td
        input(type='file', ng-model='form.in_fasta', name='in_fasta', ng-file-select='onFileSelect($files)')
    tr
      td(align="right")
        label(for='notes') Notes:
      td
        textarea(ng-model='form.notes', name='notes')
    tr
      td(align="right")
        label(for='is_public') Public:
      td
        input(ng-model='form.is_public', name='is_public', type='checkbox')
  p
    button(ng-click='submitJob()') Submit Job

