div(align="center")
  h2 Create a New Project
  table
    tr(align="center")
      td(colspan="2")
        h3 Taxonomy
    tr(align="right")
      td
        label(for='taxon_display_name') Display Name:
        input(ng-model='form.taxon_display_name', name='taxon_display_name')
    tr(align="right")
      td
        label(for='taxon_domain') Domain:
        input(ng-model='form.taxon_domain', name='taxon_domain')
    tr(align="right")
      td
        label(for='taxon_phylum') Phylum:
        input(ng-model='form.taxon_phylum', name='taxon_phylum')
    tr(align="right")
      td
        label(for='taxon_class') Class:
        input(ng-model='form.taxon_class', name='taxon_class')
    tr(align="right")
      td
        label(for='taxon_order') Order:
        input(ng-model='form.taxon_order', name='taxon_order')
    tr(align="right")
      td
        label(for='taxon_family') Family:
        input(ng-model='form.taxon_family', name='taxon_family')
    tr(align="right")
      td
        label(for='taxon_genus') Genus:
        input(ng-model='form.taxon_genus', name='taxon_genus')
    tr(align="right")
      td
        label(for='taxon_species') Species:
        input(ng-model='form.taxon_species', name='taxon_species')
    tr(align="center")
      td(colspan="2")
  p
    button(ng-click='submitProject()') Submit Project

