div(ng-repeat='project in projects', style="margin-left:45px")
  h3 {{project.taxon_display_name}}
  a(href='readProject/{{project.project_id}}') More
  |  -
  a(href='deleteProject/{{project.project_id}}') Delete

