div(ng-repeat='project in projects', align="center")
  h3 {{project.taxon_display_name}}

  a(href='readProject/{{project.project_id}}') [explore]
  |  -  
  a(href='deleteProject/{{project.project_id}}') [delete]

