div(align="center")
  h2
    | My Jobs
  table
    tr
      th
        | Notes
      th
        | Project
      th
        | Delete
    tr(ng-repeat='job in jobs')
      td
        a(href='readJob/{{job.job_id}}')
          {{job.notes}}
      td
        a(href='readProject/{{job.project_id}}')
          {{job.taxon_display_name}}
      td
        a(href='deleteJob/{{job.job_id}}') [delete]

