div(align="center")
  h3 {{job.taxon_display_name}}
  h4 {{job.start_time}}
  table
    tr
      td
        | Clean Data:
      td
        a(target="_self",href='getCleanFasta/{{job.job_id}}') Fasta
    tr
      td
        | Contaminant Data:
      td
        a(target="_self",href='getContamFasta/{{job.job_id}}') Fasta
    tr
      td
        | Input Fasta:
      td
        | {{job.in_fasta}}
    tr
      td
        | Blast Threads:
      td
        | {{job.blast_threads}}

