div(align="center")
  h3 {{job.taxon_display_name}}
  h4 {{job.start_time}}
  table
    tr
      td
        | Clean Data:
      td
        a(target="_self",href='api/getCleanFasta/{{job.job_id}}') Fasta
    tr
      td
        | Contaminant Data:
      td
        a(target="_self",href='api/getContamFasta/{{job.job_id}}') Fasta
    tr
      td
        | Notes:
      td
        | {{job.notes}}
    tr
      td
        | Job ID:
      td
        | {{job.process_id}}
    tr
      td
        | Job Status:
      td
        | {{job.process_status}}

table(align='center')
  tr
    td
      div(align='left', id='plot_area')
    td
      table(id='contig_info')
        tr
          td
            | Contig Name:
          td
            | {{contig.name}}
        tr
          td
            | GC %:
          td
            | Unknown
        tr
          td
            | Nuc Sequence:
          td
            | Unknown
        tr
          td
            | Assigned Phylogeny:
          td
            | Unknown
        tr
          td
            | Support Blast hits:
          td
            | Unknown
        tr
          td
            | Length of Query:
          td
            | Unknown
        tr
          td
            | Length of Subject:
          td
            | Unknown
