div(align="center")
  h2 Create a New Job
div(style='margin-left:50px;margin-right:15px;margin-top:10px;margin-bottom:50px')
  br
  label(for='taxon_display_name') Genome Name:
  input(ng-model='form.taxon_display_name', name='taxon_display_name')
  br
  br
  label(for='taxonomy_string') Taxonomy (e.g.: Bacteria;Proteobacteria;Alphaproteobacteria ...):
  input(ng-model='form.taxonomy_string', name='taxonomy_string', ng-change='updateTaxonomy()')
  div(style='margin-left:25px;margin-right:15px;margin-top:10px;margin-bottom:50px')
    | Domain: {{form.taxon_domain}}
    br
    | Phylum: {{form.taxon_phylum}}
    br
    | Class: {{form.taxon_class}}
    br
    | Order: {{form.taxon_order}}
    br
    | Family: {{form.taxon_family}}
    br
    | Genus: {{form.taxon_genus}}
    br
    | Species: {{form.taxon_species}}
  label(for='in_fasta') Fasta Input:
  input(type='file', ng-model='form.in_fasta', name='in_fasta' ng-file-select='onFileSelect($files)')
  button(ng-show='file_selected && !file_uploaded', ng-click='upload_file()') Upload
  div(ng-show='file_uploaded')
    | Upload Successful
  br
  br
  label(for='notes') Notes:
  textarea(ng-model='form.notes', name='notes')
  br
  br
  label(for='is_public') Public:
  input(ng-model='form.is_public', name='is_public', type='checkbox')
  br
  br
  button(ng-show='file_uploaded', ng-click='submitJob()') Submit Job
  div(ng-hide='file_uploaded',style='color:red')
    | Please select fasta file and click Upload. Once it is uploaded, the Submit button will appear.

