div(align="center")
  h2 Create a New Project
  table
    tr(align="center")
      td(colspan="2")
        h3 Taxonomy
    tr(align="right")
      td
        label(for='taxon_display_name') Display Name:
        input(ng-model='form.taxon_display_name', name='taxon_display_name')
    tr(align="right")
      td
        label(for='phylogeny_string') Phylogeny (e.g.: Bacteria;Proteobacteria;Alphaproteobacteria ...):
        input(ng-model='form.phylogeny_string', name='phylogeny_string', ng-change='updatePhylogeny()')
    tr(align="right")
      td
        | Domain: {{form.taxon_domain}}
    tr(align="right")
      td
        | Phylum: {{form.taxon_phylum}}
    tr(align="right")
      td
        | Class: {{form.taxon_class}}
    tr(align="right")
      td
        | Order: {{form.taxon_order}}
    tr(align="right")
      td
        | Family: {{form.taxon_family}}
    tr(align="right")
      td
        | Genus: {{form.taxon_genus}}
    tr(align="right")
      td
        | Species: {{form.taxon_species}}
    tr(align="center")
      td(colspan="2")
  p
    button(ng-click='submitProject()') Submit Project

