div(align="center")
  h2
    | Jobs
  table
    tr
      th
        | Notes
      th
        | GC %
      th
        | Nucleotides
      th
        | Contigs
      th
        | Genome
      th
        | Taxonomy
      th
        | Submitter
      th
        | Start Time
    tr(ng-repeat='job in jobs')
      td
        a(href='readJob/{{job.job_id}}')
          {{job.notes}}
      td
        a(href='readJob/{{job.job_id}}')
          | 49%
      td
        a(href='readJob/{{job.job_id}}')
          | 523939
      td
        a(href='readJob/{{job.job_id}}')
          | 398
      td
        a(href='readJob/{{job.job_id}}')
          | {{job.taxon_display_name}}
      td
        a(href='readJob/{{job.job_id}}')
          | {{job.taxon_domain}};
          | {{job.taxon_phylum}};
          | {{job.taxon_class}};
          | {{job.taxon_order}};
          | {{job.taxon_family}};
          | {{job.taxon_genus}};
          | {{job.taxon_species}}
      td
        a(href='readJob/{{job.job_id}}')
          | Evan Andersen
      td
        a(href='readJob/{{job.job_id}}')
          | {{job.start_time}}

