div(align="center")
  h2
    | Jobs
  table
    tr
      th
        | Genome
      th
        | Taxonomy
      th
        | GC %
      th
        | Nucleotides
      th
        | Contigs
      th
        | Submitter
      th
        | Start Time
      th
        | Notes
    tr(ng-repeat='job in jobs')
      td
        a(href='readJob/{{job.job_id}}')
          | {{job.taxon_display_name}}
      td
        | {{job.taxon_domain}};
        | {{job.taxon_phylum}};
        | {{job.taxon_class}};
        | {{job.taxon_order}};
        | {{job.taxon_family}};
        | {{job.taxon_genus}};
        | {{job.taxon_species}}
      td
        | {{job.gc_percent | number:2}}%
      td
        | {{job.num_bases}}
      td
        | {{job.num_contigs}}
      td
        | {{job.user_id}}
      td
        | {{job.start_time}}
      td
        | {{job.notes}}

