div(align="center")
  h2
    | Public Jobs
  table
    tr
      th
        | Notes
      th
        | Project
    tr(ng-repeat='job in jobs')
      td
        a(href='readJob/{{job.job_id}}')
          {{job.notes}}
      td
        a(href='readProject/{{job.project_id}}')
          {{job.taxon_display_name}}

