div(align="center")
  h2
    | Jobs in {{project.taxon_display_name}}
  table
    tr
      th
        | Notes
    tr(ng-repeat='job in jobs')
      td
        a(href='readJob/{{job.job_id}}')
          {{job.notes}}
