style
  table-layout: fixed

table(align='center')
  tr
    td(colspan='2')
      | Color By:
      select(ng-model='color_phylo_level', ng-options='option.name for option in color_modes', ng-change='update_plot_colors()')
  tr
    td
      div(align='left', id='plot_area')
    td
      div
        table(id='contig_info')
          tr
            td
              | Contig Name:
            td
              | {{contig.name}}
          tr
            td
              | Assigned Phylogeny:
            td
              | {{contig.phylogeny}}
          tr
            td
              | Genes On This Contig:
            td
              div
                table(width: 1px;)
                  tr
                    th
                      | Gene Id
                    th
                      | Subject Genome
                    th
                      | Identity%
                    th
                      | Coverage% of Query Gene
                  tr(ng-repeat='gene in contig.genes')
                    td
                      | {{gene.gene_id}}
                      div(style='word-wrap: break-word')
                        button(popover='{{gene.nuc_seq}}', class='btn btn-default', popover-placement='bottom', popover-title='Contig Sequence')
                          | View Sequence
                    td
                      | {{gene.subject_genome}}
                    td
                      | {{gene.percent_identity}}%
                    td
                      | {{gene.coverage | number:2}}%

            table
              tr
                td
                  | Project:
                td
                  | {{job.taxon_display_name}}
              tr
                td
                  | Start Time:
                td
                  | {{job.start_time}}
              tr
                td
                  | Clean Data:
                td
                  a(target="_self",href='api/getCleanFasta/{{job.job_id}}') Fasta
              tr
                td
                  | Contaminant Data:
                td
                  a(target="_self",href='api/getContamFasta/{{job.job_id}}') Fasta
              tr
                td
                  | Notes:
                td
                  | {{job.notes}}
              tr
                td
                  | Job ID:
                td
                  | {{job.process_id}}
              tr
                td
                  | Job Status:
                td
                  | {{job.process_status}}
