style
  table-layout: fixed

table(align='center')
  tr
    td
      div(align='left', id='plot_area')
    td
      table(border='1')
        tr
          td
            | Color By:
            | 
            | 
            select(ng-model='color_taxon_level', ng-options='option.name for option in color_modes', ng-change='update_plot_colors()')
            | 
            | 
            | Grid Plane:
            | 
            | 
            select(ng-model='projection_mode', ng-options='option.name for option in projection_modes', ng-change='update_projection()')
      div(style='word-wrap: break-word')
        table(ng-show='contig.name',id='contig_info',border='1')
          tr
            td
              | Contig Name:
            td
              | {{contig.name}}
          tr
            td
              | Assigned Taxonomy:
            td
              | {{contig.taxonomy}}
          tr
            td(colspan='2')
              div
                table(width: 1px;)
                  tr
                    th
                      | Gene Id
                    th
                      | Subject Genome
                    th
                      | Identity%
                    th
                      | Coverage% of Query Gene
                  tr(ng-repeat='gene in contig.genes')
                    td
                      | {{gene.gene_id}}
                      div(ng-show='nuc_seqs[gene.gene_id].length > 0', style='word-wrap: break-word')
                        button(popover='{{nuc_seqs[gene.gene_id]}}', class='btn btn-default', popover-trigger='focus', popover-placement='bottom', popover-title='Gene Sequence')
                          | View Sequence
                    td
                      | {{gene.subject_genome}}
                    td
                      | {{gene.percent_identity}}%
                    td
                      | {{gene.coverage | number:2}}%

        table(border='1')
          tr
            td
              | Genome Name:
            td
              | {{job.taxon_display_name}}
              a(href='https://img.jgi.doe.gov/cgi-bin/mer/main.cgi?section=TaxonDetail&page=taxonDetail&taxon_oid={{job.taxon_display_name}}')
                | {{isIMG(job.taxon_display_name)}}
          tr
            td
              | Taxonomy:
            td
              | {{job.taxon_domain}};
              | {{job.taxon_phylum}};
              | {{job.taxon_class}};
              | {{job.taxon_order}};
              | {{job.taxon_family}};
              | {{job.taxon_genus}};
              | {{job.taxon_species}}
          tr
            td
              | Start Time:
            td
              | {{job.start_time}}
          tr
            td
              | Download Fasta:
            td
              a(target="_self",href='download/clean/{{job.job_id}}') Clean
              | 
              |
              | 
              a(target="_self",href='download/contam/{{job.job_id}}') Contaminant
          tr
            td
              | Notes:
            td
              | {{job.notes}}
          tr
            td
              | Job ID:
            td
              | {{job.process_id}}
          tr
            td
              | Job Status:
            td
              | {{job.process_status}}
        table(border='1')
          tr(ng-repeat='(color_hash,color_value) in color_map')
            td
              div(style='width: 21px; height: 21px; background-color: \#{{color_value.getHexString()}};')
            td
              | {{color_hash}}
