extends layout

block content
  div
    div(ng-view)

  //pace.js added for issue #33 progress bar:
  script(src='js/pace.js')  
  script(src='js/lib/angular-file-upload/angular-file-upload-html5-shim.min.js')
  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular-file-upload/angular-file-upload.min.js')
  script(src='js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/lib/three.js')
  script(src='js/services/plotService.js')
  script(src='js/controls/TrackballControls.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

  script(type='text/javascript', src='https://issues.jgi-psf.org/s/4619951a510ae9cef6cb9f0e1aeea93d-T/en_US-2gi36u/6346/86/1.4.16/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=f5a3361c')
  script(type='text/javascript').
    window.ATL_JQ_PAGE_PROPS =  {
    "triggerFunction": function(showCollectorDialog) {
    //Requires that jQuery is available!
    jQuery("#feedback-button").click(function(e) {
    e.preventDefault();
    showCollectorDialog();
    });
    }};

